[Unit]
Description=Random Dank Material Shell's Wallpaper Timer

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true
Unit=random_wallpaper.service

[Install]
WantedBy=timers.target
